@-webkit-keyframes floatImgLeft {
  from {transform: translateY(-50%)}
  to {transform:  translateY(-60%)}
};

@-webkit-keyframes floatImgRight {
  from {transform: translateY(0%)}
  to {transform:  translateY(-10%)}
};

@-webkit-keyframes floatImgUp {
  from {transform: translateY(0%)}
  to {transform:  translateY(-5%)}
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@-webkit-keyframes slideDown {
  from {bottom: 70px; transform: translateY(50%)}
  to {bottom: 0}
}

@keyframes slideDown {
  from {bottom: 70px; transform: translateY(50%)}
  to {bottom: 0}
}

@keyframes floatImgLeft {
  from {transform: translateY(-50%)}
  to {transform:  translateY(-60%)}
};

@keyframes floatImgRight {
  from {transform: translateY(0%)}
  to {transform:  translateY(-10%)}
};

@keyframes floatImgUp {
  from {transform: translateY(0%)}
  to {transform:  translateY(-5%)}
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
