@mixin imgAnimation($animationName) {
  animation-name: $animationName;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@mixin bgHeadingText($bgTextColor, $headingColor) {
  padding-left: 24px;

  &__text-wrap {
    overflow: hidden;
    padding: 0;
  }

  &__text {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    font-size: 48px;
    color: $headingColor;
    line-height: 62.4px;
    margin: 0;
    font-weight: 500;
  }

  @media (min-width: $md) {
    &__text {
      font-size: $font-size-title;
      line-height: 130%;
    }
  }

  @media (min-width: $lg) {
    padding-left: 64px;

    &--background {
      padding-left: 64px;
    }

    &__text {
      line-height: 130%;
    }
  }
}

@mixin viewport-unit($property, $value) {
  #{$property}: $value;

  $unit: unit($value);

  @if (index((vw, vh, vmin, vmax), $unit) != null) {
    $devices: (
      (768px, 1024px),
      // iPad (all versions)
      (320px, 480px),
      // iPhone 4
      (320px, 568px)
        // iPhone 5, 5C, 5S
    );

    @each $device in $devices {
      $device-width: nth($device, 1);
      $device-height: nth($device, 2);

      $device-query: "only screen and (-webkit-min-device-pixel-ratio: 1)";
      $device-query: "#{$device-query} and (device-width: #{$device-width})";
      $device-query: "#{$device-query} and (device-height: #{$device-height})";

      $percent: $value / ($value * 0 + 1);

      $percent-width: calc($device-width * $percent / 100);
      $percent-height: calc($device-height * $percent / 100);

      @if ($unit == vmin or $unit == vmax) {
        @media #{$device-query} {
          #{$property}: if($unit == vmin, $percent-width, $percent-height);
        }
      } @else {
        @media #{$device-query} and (orientation: portrait) {
          #{$property}: if($unit == vw, $percent-width, $percent-height);
        }

        @media #{$device-query} and (orientation: landscape) {
          #{$property}: if($unit == vw, $percent-height, $percent-width);
        }
      }
    }
  }
}
