
@mixin imgAnimation($animationName) {
  animation-name: $animationName;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@mixin bgHeadingText($bgTextColor, $headingColor){
  $section-with-bg-height: clamp(600px, calc(50vw - 65px), 620px);
  $mobile-section-with-bg-height: clamp(300px, calc(45vw - 130px), 420px);

  padding-left: 24px;
  min-height: 141px;
  max-height: 141px;

  &__text-wrap {
    min-height: 141px;
    max-height: 141px;
    overflow: hidden;
    padding: 0;
  }

  &--background {
    position: absolute;
    padding-left: 24px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    overflow: visible;

    .header__text {
      color: $bgTextColor;
    }
  }

  &__text {
    position: relative;
    top: -25px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    font-size: 48px;
    color: $headingColor;
    line-height: 62.4px;
    margin: 0;
    font-weight: 500;
  }

  @media (min-width: $md){
    min-height: $mobile-section-with-bg-height;
    max-height: $mobile-section-with-bg-height;

    &__text-wrap {
      min-height: $mobile-section-with-bg-height;
      max-height: $mobile-section-with-bg-height;
    }

    &__text {
      min-height: $mobile-section-with-bg-height;
      max-height: $mobile-section-with-bg-height;
      top: -40px;
      font-size: $font-size-title;
      line-height: clamp(62.4px, 21vw, 125px);
    }
  }

  @media (min-width: $lg) {
    min-height: $section-with-bg-height;
    max-height: $section-with-bg-height;
    padding-left: 64px;

    &--background {
      padding-left: 64px;
    }

    &__text-wrap {
      min-height: $section-with-bg-height;
      max-height: $section-with-bg-height;
    }

    &__text {
      min-height: $section-with-bg-height;
      max-height: $section-with-bg-height;
      top: -104px;
      line-height: 265px;
    }
  }
}