$black-color: #222222;
$red-color: #8b0000;
$white-color: #ffffff;
$gray-color: #cccccc;

$background-color: #f3f3f3;

$font-size-title: clamp(48px, 9vw, 166px);
$font-size-lg: clamp(18px, 3vw, 32px);
$font-size-md: clamp(18px, 3vw, 24px);
$font-size-sm: clamp(16px, 2vw, 18px);

// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400p;

$font-family: "Satoshi", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Helvetica Neue", Arial, sans-serif;
