@import '../../styles/main';
@import "../../styles/mixins";

.mobile-navigation {
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  @include viewport-unit(height, 100vh);
  z-index: 10;
  background-color: $background-color;

  &.navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    width: 100%;
    text-align: center;

    &:not(:last-of-type) {
      border-bottom: 1px solid $gray-color;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 24px;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid $gray-color;
  }
}

.burger {
    display: flex;
    flex-direction: column;
    width: 46px;
    cursor: pointer;
    margin-left: auto;

   span {
    background: $black-color;
    border-radius: 10px;
    height: 4px;
    margin: 5px 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }


  span:nth-of-type(1){
    width: 50%;
  }

  span:nth-of-type(2){
    width: 100%;
  }

  span:nth-of-type(3){
    width: 75%;
  }

  &.open span:nth-of-type(1){
    transform-origin: bottom;
    transform: rotatez(45deg) translate(5px, 3px)
  }

  &.open span:nth-of-type(2){
    transform-origin: top;
    transform: rotatez(-45deg)
  }

  &.open span:nth-of-type(3){
    transform-origin:bottom;
    width:50%;
    transform: translate(17px, -8px) rotatez(45deg);
  }
}

.navbar {
  padding: 24px 22px 0 22px;

  @media (min-width: $lg) {
    padding: 85px 80px 0 80px;
  }
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  color: $black-color;
  font-size: $font-size-sm;
  line-height: 24px;
  padding: 13px 36.5px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 24px 50px 24px;
  color: $white-color;
  background-color: $black-color;

  img {
    max-width: 166px;
  }

  @media (min-width: $lg) {
    padding: 96px 80px;
  }

  &__list {
    padding-top: 20px;

    @media (min-width: $lg) {
      padding-left: 42px;
    }

    li {
      font-size: $font-size-sm;
      line-height: 23.4px;
    }
  }

  &__navbar {
    padding-left: 0;
    padding-top: 40px;
    padding-right: 0;

    .navbar-nav {
      margin: 0;
    }

    .nav-item {
      color: $white-color;
    }
  }
}