@import "../styles/variables";

.red-btn {
  padding: 13px 36.5px;
  background-color: $red-color;
  font-size: $font-size-sm;
  color: $white-color;
}

$section-with-bg-height: clamp(600px, calc(50vw - 65px), 620px);

.header {
  position: relative;
  margin-top: 225px;
  min-height: $section-with-bg-height;
  max-height: $section-with-bg-height;
  background-color: $black-color;
  padding-left: 64px;

  &__text-wrap {
    min-height: $section-with-bg-height;
    max-height: $section-with-bg-height;
    overflow: hidden;
    padding: 0;
  }

  &--background {
    position: absolute;
    padding-left: 64px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    overflow: visible;

    .header__text {
      color: $black-color;
    }
  }

  &__text {
    position: relative;
    top: -104px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    font-size: $font-size-title;
    color: $white-color;
    line-height: 265px;
    margin: 0;
    font-weight: 500;
  }

  // Images
  .images {
    position: relative;
    padding: 0;
    z-index: 1;
  }

  .image {
    position: absolute;

    &--red-sign {
      z-index: 3;
      top: 25px;
      left: 275px;
    }

    &--green-sign {
      z-index: 3;
      top: 50%;
      left: -100px;
      transform: translateY(-50%);
    }

    &--extinguisher-sign {
      z-index: 4;
      top: -160px;
    }
  }
}

.subheading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 80px 80px;

  &__text {
    font-size: $font-size-lg;
    line-height: 41.6px;
    font-weight: 400;
  }
}

.services {
  position: relative;
  background-color: $red-color;
  min-height: $section-with-bg-height;
  max-height: $section-with-bg-height;
  padding-left: 64px;
  margin-top: 200px;

  &__text {
    position: relative;
    top: -104px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    font-size: $font-size-title;
    color: $white-color;
    line-height: 265px;
    margin: 0;
    font-weight: 500;
  }

  &__text-wrap {
    min-height: $section-with-bg-height;
    max-height: $section-with-bg-height;
    overflow: hidden;
    padding: 0;
  }

  &--background {
    position: absolute;
    padding-left: 64px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    overflow: visible;

    .header__text {
      color: $red-color;
    }
  }

  &__list {
    padding-top: 85px;
  }
}

.service {
  color: $white-color;

  &:not(:last-of-type) {
    margin-bottom: 24px;
  }

  &__title {
    cursor: pointer;
    font-weight: 700;
    font-size: $font-size-lg;
  }

  &__content {
    font-size: $font-size-sm;
  }
}

.about {
  padding-top: 200px;

  img {
    @media (min-width: $lg){
      height: 100%;
    }
  }

  &__text {
    color: $black-color;
  }

  &__heading {
    font-size: $font-size-title;
  }

  &__paragraph {
    font-size: $font-size-sm;
    max-width: 700px;
    line-height: 23.4px;
    text-align: left;

    padding-bottom: 16px;

    &:last-of-type {
      padding-bottom: 32px;
    }
  }
}

.contact {
  position: relative;
  background-color: $red-color;
  margin-top: 400px;
  margin-bottom: 170px;
  padding: 85px 50px;

  @media (min-width: $xl){
    padding: 85px 70px;
  }

  &__img {
    position: absolute;
    bottom: -85px;
    right: 0;
  }

  &__heading {
    display: flex;
    align-items: center;
    font-size: $font-size-title;
    line-height: 254.8px;
    font-weight: 700;
    color: $white-color;
  }

  &__content {
    display: flex;
    align-items: center;
    max-width: 780px;
    color: $white-color;
  }

  &__info {
    font-size: $font-size-md;
    font-weight: 400;
    line-height: 43.2px;
    padding-bottom: 24px;
  }

  &__anchor {
    display: flex;
    align-items: center;
    font-size: $font-size-md;
    font-weight: 700;

    img {
      width: 22px;
      height: 22px;
      margin-right: 14px;
    }

    &:first-of-type {
      padding-bottom: 14px;
    }
  }
}