@import "../styles/variables";
@import "../styles/animations";
@import "../styles/mixins";

.red-btn {
  padding: 13px 36.5px;
  background-color: $red-color;
  font-size: $font-size-sm;
  color: $white-color;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border-color: $red-color;
  border-style: solid;
  border-width: 1px;

  &:hover {
    color: $red-color;
    background-color: $white-color;
  }
}

.header {
  position: relative;
  margin-top: 92px;
  background-color: $black-color;

  @include bgHeadingText($black-color, $white-color);

  @media (min-width: $lg) {
    margin-top: 80px;
  }

  // Images
  .images {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    z-index: 1;
    max-width: 500px;

    @media (min-width: $xxl) {
      max-width: 700px;
    }
  }

  .image {
    position: absolute;

    &--red-sign {
      z-index: 3;
      right: -20%;
      bottom: 20px;
      width: 200px;
      min-width: 180px;
      max-width: 430px;
      @include imgAnimation(floatImgRight);


      @media (min-width: $sm) {
        right: -20%;
        bottom: 20px;
        width: 300px;
      }

      @media (min-width: $xxl) {
        width: 80%;
        right: -20%;
      }
    }

    &--green-sign {
      z-index: 3;
      left: 5%;
      bottom: 20px;
      width: 250px;
      @include imgAnimation(floatImgLeft);

      @media (min-width: $xxl) {
        width: auto;
      }
    }

    &--extinguisher-sign {
      z-index: 4;
      bottom: -40px;
      width: 400px;
      max-width: 480px;
      @include imgAnimation(floatImgUp);
      animation-direction: alternate-reverse;

      @media (min-width: $xxl) {
        width: 80%;
        bottom: 20px;
      }
    }
  }
}

.subheading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px 24px 80px 24px;

  @media (min-width: $lg) {
    padding: 60px 80px 80px;
  }

  &__text {
    font-size: $font-size-lg;
    line-height: 130%;
    font-weight: 400;
  }
}

.scroll-down {
  position: relative;
  margin-left: auto;
  width: 30px;
  height: 80px;

  &__text {
    position: absolute;
    top: 0;
    height: 80px;
  }

  &__dot {
    position: absolute;
    border-radius: 50%;
    left: 8px;

    animation: pulse 3s infinite, slideDown 3s alternate infinite;
  }
}

.services {
  position: relative;
  background-color: $red-color;
  padding: 20px 0;

  @include bgHeadingText($red-color, $white-color);

  &__text-wrap {
    padding-bottom: 40px;
  }

  @media (min-width: $lg) {
    margin-top: 200px;
    @include bgHeadingText($red-color, $white-color);
  }


  &__list {
    margin: auto 0;
    padding: 0;

    @media (min-width: $lg) {
      padding: 0 15px;
    }

  }
}

.service {
  color: $white-color;

  &:not(:last-of-type) {
    margin-bottom: 24px;
  }

  &__title {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    font-size: $font-size-lg;
    color: $white-color;
    padding: 0;

    &.open img {
      transform: rotate(180deg);
    }

    img {
      display: block;
      margin-left: 8px;
      width: 24px;
      fill: $white-color;
      color: $white-color;
      transition: .2s ease-in-out;
    }
  }

  &__content {
    font-size: $font-size-sm;
    max-width: 300px;
  }
}

.about {
  @media (min-width: $lg) {
    padding-top: 200px;
  }

  img {
    width: 100%;
    min-height: 490px;

    @media (min-width: $lg) {
      height: 100%;
    }
  }

  &__text {
    margin: auto 0;
    color: $black-color;
    padding: 60px 24px;

    @media (min-width: $lg) {
      padding: 0 16px;
    }
  }

  &__heading {
    font-size: $font-size-title;
    padding-bottom: 24px;
  }

  &__paragraph {
    font-size: $font-size-sm;
    max-width: 700px;
    line-height: 23.4px;
    text-align: left;

    padding-bottom: 16px;

    &:last-of-type {
      padding-bottom: 30px;
    }
  }
}

.contact {
  position: relative;
  background-color: $red-color;
  padding: 24px;
  margin-bottom: 60px;

  @media (min-width: $lg) {
    margin-top: 200px;
    margin-bottom: 170px;
    padding: 85px 50px;
  }

  @media (min-width: $xl) {
    padding: 85px 70px;
  }

  &__img {
    position: absolute;
    bottom: -85px;
    right: 0;
  }

  &__heading {
    display: flex;
    align-items: center;
    font-size: $font-size-title;
    color: $white-color;
    font-weight: 700;
    padding-bottom: 24px;

    @media (min-width: $lg) {
      line-height: 130%;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    max-width: 780px;
    color: $white-color;
  }

  &__info {
    font-size: $font-size-md;
    font-weight: 400;
    line-height: 130%;
    padding-bottom: 24px;
  }

  &__anchor {
    display: flex;
    align-items: center;
    font-size: $font-size-md;
    font-weight: 700;

    img {
      width: 22px;
      height: 22px;
      margin-right: 14px;
    }

    &:first-of-type {
      padding-bottom: 14px;
    }
  }
}
